In [1]:
def print_student(student_name):
  marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
  for student in marks:
    if student == student_name:
      print(marks[student])
      break 
  else: 
    print('No entry with that name found.')
  
print_student('James')
print_student('Amy')
print_student('Emma')

90
66
No entry with that name found.

In [2]:
def print_average():
  marks = {'Andy':88, 'Amy':66, 'James': 90, 'Jules': 55, 'Arthur': 77}
  total = 0
  for grade in marks.values():
    total += grade 
  average = total/len(marks)
  print(average)

print_average()

75.2

In [3]:
def printout(num):
  n = 0 
  while n < num:
    print(n,n**2)
    n += 1 
  else:
    print('greater than', num)

printout(8)

0 0
1 1
2 4
3 9
4 16
5 25
6 36
7 49
greater than 8

In [4]:
def sumfunction(num):
  n = 1 
  sum = 0 
  while n <= num:
    sum = sum + n
    n = n + 1
  print(sum)

sumfunction(15)

120

In [5]:
def range_sum(num):
  sum = 0
  for n in range (num):
    sum = sum + n 
    print(sum)

range_sum(8)

0
1
3
6
10
15
21
28

In [7]:
import numpy as np
def stats(nums):
  mean = np.mean(nums)
  sum = np.sum(nums)
  std = np.std(nums)
  print(mean, sum, std)

stats(range(1,100))

50.0 4950 28.577380332470412

In [8]:
def min(v1, v2, v3, v4):
  if v1<=v2 and v1<=v3 and v1<=v4:
    return v1
  if v2<=v1 and v2<=v3 and v2<=v4:
    return v2
  if v3<=v1 and v3<=v2 and v3<=v4:
    return v3 
  if v4<=v1 and v4<=v2 and v4<=v3:
    return v4
  
min(98, 16, 2, 14)

2

In [9]:
def concatenated_fruit():
  fruit1 = 'cherry, '
  fruit2 = 'banana, '
  fruit3 = 'grape ' 
  fruit4 = fruit1 + fruit2 + fruit3
  print(fruit4)

concatenated_fruit()

cherry, banana, grape