In [1]:
n = 0
while n < 10:
    print(n)
    if n == 4:
      break
    n += 1

0
1
2
3
4

In [2]:
n = 0 
while n < 5:
  print(n)
  n += 1
else:
  print("5 is not less than 5")

0
1
2
3
4
5 is not less than 5

In [1]:
fruits = ["orange", "banana", "mango", "papaya", "apple", "peach"] 
for fruit in fruits: 
    print("I like", fruit)
    if "papaya" in fruit:
      break
print("apple is really a fruit?")

I like orange
I like banana
I like mango
I like papaya
apple is really a fruit?

In [5]:
n = 30
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i+1   
print("The sum is", sum)

The sum is 465

In [6]:
grade = 87
if grade <= 60:
  print("F")
elif grade in range (60,70):
  print("D")
elif grade in range (70,80):
  print("C")
elif grade in range (80,90):
  print("B")
elif grade in range (90,101):
  print("A")

B

In [2]:
marks = {'Andy': 88, 'Amy': 66, 'James': 90, 'Jules': 55, 'Arthur': 77} 
for name, grade in marks.items():
  print(name,grade)

Andy 88
Amy 66
James 90
Jules 55
Arthur 77

In [3]:
total = 0
for grade in marks.values():
  total += grade 
mean = total/len(marks)
print(mean)
max_grade = max(marks.values())
print(max_grade)
min_grade = min(marks.values())
print(min_grade)

75.2
90
55

In [4]:
for i in ['Andy', 'Amy', 'James', 'Jules', 'Arthur']:
  if 'J' in i:
    break
  print(i)

Andy
Amy

In [5]:
for i in ['Andy', 'Amy', 'James', 'Jules', 'Arthur']:
  if 'J' in i:
    continue
  print(i)

Andy
Amy
Arthur